@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  background-color: rgb(17 24 39 / 1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-dark-100 {
  background-color: rgb(17 24 39 / 1);
}

.bg_drop_down_nav {
  background-color: rgb(36 42 56 / 1);
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(36 42 56 / var(--tw-bg-opacity));
}

.input_navBar {
  background-color: unset;
  border: none;
  outline: none;
}

.bg_button_navbar {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}
.active_Sidebar {
  right: 0;
  transition: right 0.2s ease-in;
}
.NONactive_Sidebar {
  right: -240px;
  transition: right 0.2s ease-in;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.codeFormInput {
  --tw-bg-opacity: 1;
  background-color: rgb(51 60 76 / var(--tw-bg-opacity));
  outline: none;
  border: unset;
}
