@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dana_600;
  font-style: normal;
  font-weight: 600;
  src: local("dana"),
    url("https://fonts.cdnfonts.com/s/87601/dana demibold.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: dana_600;
  transition: color 0.3s ease;
 
}

.ltr {
  direction: ltr !important;
}

.bg_black_100 {
  background-color: rgb(17 24 39 / 1);
}

.bg_white_100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg_drop_down_nav {
  background-color: rgb(36 42 56 / 1);
}
.bg-dark-light {
  --tw-bg-opacity: 1;
  background-color: rgb(51 60 76 / var(--tw-bg-opacity));
}
.bg-secondry {
  --tw-bg-opacity: 1;
  background-color: rgb(78 129 251 / var(--tw-bg-opacity));
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(36 42 56 / var(--tw-bg-opacity));
}

.input_navBar {
  background-color: unset;
  border: none;
  outline: none;
}

.bg_button_navbar {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}
.active_Sidebar {
  right: 0;
  transition: right 0.2s ease-in;
}
.NONactive_Sidebar {
  right: -240px;
  transition: right 0.2s ease-in;
}

.openbuttomshet {
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
}
.closebuttomshet {
  bottom: -400px;
  transition: bottom 0.5s ease-in-out;
}
.filter {
  visibility: hidden;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 50;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;

  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.filter--open {
  visibility: visible;
  opacity: 1;
}

.codeFormInput {
  --tw-bg-opacity: 1;
  background-color: rgb(51 60 76 / var(--tw-bg-opacity));
  outline: none;
  border: unset;
}

.image_articls::after {
  background: linear-gradient(180deg, #242a3800, #242a38cc 74.19%, #242a38);
  content: "";
  position: absolute;
  bottom: -12px;
  inset: 0;
  width: 100%;
  height: 100%;
}
.image_articls_light::after {
  background: linear-gradient(180deg, #c1bdbd00, #eeeeeecc 74.19%, #ffffff);
  content: "";
  position: absolute;
  bottom: -12px;
  inset: 0;
  width: 100%;
  height: 100%;
}

.text_articls_card {
  font-size: 14px;
  line-height: 1.8rem;
}

.button-lg {
  height: 3.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 1rem;
  line-height: 1.75rem;
  color: white;
  border-radius: 18px;
}

.bg-dark-inpute {
  --tw-bg-opacity: 1;
  background-color: rgb(50 51 77 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sort-btn--active {
  position: relative;
  color: #0ea5e9;
}
.sort-btn--active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-top: 2px solid #0ea5e9;
  border-bottom: 2px solid #0ea5e9;
}

.bg-sky-500\/10 {
  background-color: rgb(14 165 233 / 0.1);
}

.hljs {
  color: #383a42;
  background: #fafafa;
  padding: 20px;
  border-radius: 18px;
  margin: 25px 0px;
}

@media (min-width: 1280px) {
  .offer-timer {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .offer-timer {
    justify-content: center;
  }
}
@media (min-width: 640px) {
  .offer-timer {
    justify-content: flex-start;
  }
}
.offer-timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic {
  overflow: hidden;
  border-radius: 0.75rem;
 
}

@media (min-width: 768px) {
  .topic__head {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.topic__head {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding: 0.875rem 1rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding: 20px;
  border-bottom: solid 0.2px #fafafa36;
}



.chapter__head {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
  border-radius: 10px;

 
  padding: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.chapter__head__active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  --tw-bg-opacity: 1 !important;

}

@media (min-width: 640px) {
  .chapter__lessons {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
.chapter__lessons {
  visibility: hidden;
  max-height: 0;
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
 
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.chapter__lessons__active {
  visibility: visible !important;
  max-height: 100% !important;
  --tw-scale-x: 1 !important;
  --tw-scale-y: 1 !important;
  opacity: 1 !important;
}

@media (min-width: 640px) {
  .lesson:first-child {
    padding-top: 1.125rem;
  }
}

.lesson:first-child {
  padding-top: 1rem;
}
.lesson--watching {
  position: relative;
}

.lesson {
  cursor: default;
  border-bottom-width: 1px;
  border-bottom-color: #ffffff1a;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}


@media (min-width: 600px) {
  .Toastify__toast-container {
    width: 300px !important;
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .Toastify__toast-container {
    width: 220px !important;
    font-weight: 500;
    font-size: small;
  }
}



input[type="checkbox"]:checked ~ .topic__body {
  max-height: 1000px;
}

.topic__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-in;
}

.topic__body > div:last-child {
  border-bottom: none !important;
}
