@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dana_600;
  font-style: normal;
  font-weight: 600;
  src: local("dana"),
    url("https://fonts.cdnfonts.com/s/87601/dana demibold.woff") format("woff");
}

body {
  direction: rtl;
  background-color: rgb(17 24 39 / 1);
  font-family: dana_600;
}

.bg_black_100 {
  background-color: rgb(17 24 39 / 1);
}

.bg-dark-100 {
  background-color: rgb(17 24 39 / 1);
}

.bg_drop_down_nav {
  background-color: rgb(36 42 56 / 1);
}

.bg-secondry {
  --tw-bg-opacity: 1;
  background-color: rgb(78 129 251 / var(--tw-bg-opacity));
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(36 42 56 / var(--tw-bg-opacity));
}

.input_navBar {
  background-color: unset;
  border: none;
  outline: none;
}

.bg_button_navbar {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}
.active_Sidebar {
  right: 0;
  transition: right 0.2s ease-in;
}
.NONactive_Sidebar {
  right: -240px;
  transition: right 0.2s ease-in;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.codeFormInput {
  --tw-bg-opacity: 1;
  background-color: rgb(51 60 76 / var(--tw-bg-opacity));
  outline: none;
  border: unset;
}

.image_articls::after {
  background: linear-gradient(180deg, #242a3800, #242a38cc 74.19%, #242a38);
  content: "";
  position: absolute;
  bottom: -12px;
  inset: 0;
  width: 100%;
  height: 100%;
}

.text_articls_card {
  font-size: 14px;
  line-height: 1.8rem;
}

.button-lg {
  height: 3.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
  border-radius: 18px;
}

.bg-dark-inpute {
  --tw-bg-opacity: 1;
  background-color: rgb(50 51 77 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-sky-500\/10 {
  background-color: rgb(14 165 233 / 0.1);
}
